<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Situation Awareness</title>

    {% include 'snippets/css.html' %}
    {% include 'snippets/scripts.html' %}

  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">



</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    {% include 'snippets/sidenav.html' %}  
    
    {% include 'snippets/navbar.html' %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->

      </div>
      <!-- End of Main Content -->
        {% block display_map %}
        {% endblock %}
        {% block statistics %}
        {% endblock%}



    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  {% include 'snippets/logoutmodal.html' %}

  
{% include 'snippets/footerScript.html' %}

</body>

</html>
