{% extends 'base.html' %}

{% block display_map%}

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Map View</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>


  <div class="row">
	<div id='map'></div>
	
	{% include  'snippets/icons.html' %}
	{% include 'snippets/leaflet_provider.html' %}
	<script>

		//this script handles the display of incidence marker
	var incidence_dataset = new L.GeoJSON.AJAX(
		"{% url 'incidence' %}", 
		{
		pointToLayer: function(feature, latlng){
			switch(feature.properties.incident){
				case 'IED':
					return L.marker(latlng,{
						icon: redIcon
					})
				case 'AMBUSH':
					return L.marker(latlng,{
						icon: greenIcon
					})
				case 'SUICIDE BOMBIMG':
					return L.marker(latlng,{
						icon: blueIcon
					})
			}	
		},

		onEachFeature: function(feature, layer){
			layer.bindPopup(feature.properties.incident.toString());
		}
	}	
);

		// this is block handles the display of hotzone markers
	var hotzone_dataset_ = new L.GeoJSON.AJAX(
		"{% url 'hotzone' %}", 
		{
		pointToLayer: function(feature, latlng){
			switch(feature.properties.activity){
				case 'BANDICT':
					return L.circle(latlng,{
						color: 'red',
						fillColor: '#f03',
						fillOpacity: 0.5,
						weight: 1,
					})
				case 'HERDS MEN':
					return L.circle(latlng, 10000, {
						color: 'orange',
						fillColor: '#f003',
						fillOpacity: 0.5,
						weight: 1,
					})
			}	
		},

		onEachFeature: function(feature, layer){
			layer.bindPopup(feature.properties.activity.toString());
		}
		
		}
	);

		// this block is for overlayer grouping
		var blackscale   = L.tileLayer(mbUrl, {id: 'mapbox.dark', attribution: mbAttr}),
			grayscale   = L.tileLayer(mbUrl, {id: 'mapbox.light', attribution: mbAttr}),
			streets  = L.tileLayer(mbUrl, {id: 'mapbox.streets',   attribution: mbAttr})
			satellite  = L.tileLayer(mbUrl, {id: 'mapbox.satellite',   attribution: mbAttr});

		var map = L.map('map', {
			center: [9.064126766278852, 7.489585876464843],
			zoom: 6,
			layers: [ streets, incidence_dataset]
		});

		var baseLayers = {
			"Blackscale": blackscale,
			"Grayscale": grayscale,
			"Satellite": satellite,
			"Streets": streets
		};

		var overlays = {
			"Incidence": incidence_dataset,
			"Hot Zones": hotzone_dataset_
		};

		L.control.layers(baseLayers, overlays).addTo(map);


	</script>

{% endblock %}

