{% extends 'base.html' %}

{% block statistics %}
	  <form action="{% url 'hotzone_stat' %}" method="GET">
	  	<input class="form-control form-control-dark w-80" name="q" type="text" placeholder="Search..." aria-label="Search">  	
	  </form>
      <h2>Hot Zones</h2><br/>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>S/N</th>
              <th>State</th>
              <th>Activity</th>
              <th>Time Added</th>
              <th>Location</th>
            </tr>
          </thead>
          {# populates the templates with data from the db #}
          {% if hotzone_list %}
	        {% for hotzone in hotzone_list %}
		          <tbody>
		            <tr>
		              <td>{{forloop.counter}}</td>
		              <td>{{hotzone.state}}</td>
		              <td>{{hotzone.activity}}</td>
		              <td>{{hotzone.time_added}}</td>
		              <td>{{hotzone.location}}</td>
		            </tr>
		          </tbody>
	          {% endfor %}

	       {# the block below takes care of the search rendring #}
          {% elif hotzones %}
            <p> Search Queries found for: {{ hotzone_query }} </p>

	        {% for hotzone in hotzones %}
		          <tbody>
		            <tr>
		              <td>{{forloop.counter}}</td>
		              <td>{{hotzone.state}}</td>
		              <td>{{hotzone.activity}}</td>
		              <td>{{hotzone.time_added}}</td>
		              <td>{{hotzone.location}}</td>
		            </tr>
		          </tbody>
	          {% endfor %}	          
        </table>
        {% else %}
        	<p> No Query found for: <span class="highlight">{{ hotzone_query }}</span> </p>
        {% endif %}
      </div>

{% endblock %}