{% extends 'base.html' %}

{% block statistics %}
	  <form action="{% url 'incidence_stat' %}" method="GET">
	  	<input class="form-control form-control-dark w-100" name="q" type="text" placeholder="Search..." aria-label="Search">  	
	  </form>
      <h2>Incidence</h2><br />
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>S/N</th>
              <th>State</th>
              <th>Incident</th>
              <th>Time of Occurance</th>
              <th>Location</th>
            </tr>
          </thead>
          {# populates the templates with data from the db #}
          {% if queryset %}
	        {% for obj in queryset %}
		          <tbody>
		            <tr>
		              <td>{{forloop.counter}}</td>
		              <td>{{obj.state}}</td>
		              <td>{{obj.incident}}</td>
		              <td>{{obj.time_of_occurance}}</td>
		              <td>{{obj.location}}</td>
		            </tr>
		          </tbody>
	          {% endfor %}

	       {# the block below takes care of the search rendring #}
          {% elif incident %}
            <p> Search Queries found for: {{ query }} </p>

	        {% for obj in incident %}
		          <tbody>
		            <tr>
		              <td>{{forloop.counter}}</td>
		              <td>{{obj.state}}</td>
		              <td>{{obj.incident}}</td>
		              <td>{{obj.time_of_occurance}}</td>
		              <td>{{obj.location}}</td>
		            </tr>
		          </tbody>
	          {% endfor %}	          
        </table>
        {% else %}
        	<p> No Query found for: <span class="highlight">{{ query }}</span> </p>
        {% endif %}
      </div>

{% endblock %}